*{
 padding: 0;
 margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  color: #181415;
  height: 100vh;
  background-color: #181415;
  background-image: url('./assets/img/cookie_bg.png');
  background-size: cover;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
#app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}