*{
 padding: 0;
 margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  color: #181415;
  height: 100vh;
  background-color: #181415;
  padding: 20px;

}
#app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('./assets/img/Plaid.png');
  background-size: cover;

}